@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Datenschutzerklärung</h2>
Die Nutzung unserer Seite ist ohne eine Angabe von personenbezogenen Daten möglich. Für die Nutzung einzelner Services unserer Seite können sich hierfür abweichende Regelungen ergeben, die in diesem Falle nachstehend gesondert erläutert werden. Ihre personenbezogenen Daten (z.B. Name, Anschrift, E-Mail, Telefonnummer, u.ä.) werden von uns nur gemäß den Bestimmungen des deutschen Datenschutzrechts verarbeitet. Daten sind dann personenbezogen, wenn sie eindeutig einer bestimmten natürlichen Person zugeordnet werden können. Die rechtlichen Grundlagen des Datenschutzes finden Sie im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG). Nachstehende Regelungen informieren Sie insoweit über die Art, den Umfang und Zweck der Erhebung, die Nutzung und die Verarbeitung von personenbezogenen Daten durch den Anbieter

<strong>
    Dennis Hinzpeter
    Posener Straße 10
    28816 Stuhr
</strong>

<strong>015208998775</strong>

<strong>kontakt@bastelbunker.de</strong>

Wir weisen darauf hin, dass die internetbasierte Datenübertragung Sicherheitslücken aufweist, ein lückenloser Schutz vor Zugriffen durch Dritte somit unmöglich ist.
<h4>Cookies</h4>
Wir verwenden auf unserer Seite sog. Cookies zum Wiedererkennen mehrfacher Nutzung unseres Angebots, durch denselben Nutzer/Internetanschlussinhaber. Cookies sind kleine Textdateien, die Ihr Internet-Browser auf Ihrem Rechner ablegt und speichert. Sie dienen dazu, unseren Internetauftritt und unsere Angebote zu optimieren. Es handelt sich dabei zumeist um sog. "Session-Cookies", die nach dem Ende Ihres Besuches wieder gelöscht werden.
Teilweise geben diese Cookies jedoch Informationen ab, um Sie automatisch wieder zu erkennen. Diese Wiedererkennung erfolgt aufgrund der in den Cookies gespeicherten IP-Adresse. Die so erlangten Informationen dienen dazu, unsere Angebote zu optimieren und Ihnen einen leichteren Zugang auf unsere Seite zu ermöglichen.
Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihres Browsers verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen unserer Website vollumfänglich nutzen können.
<h4>Serverdaten</h4>
Aus technischen Gründen werden u.a. folgende Daten, die Ihr Internet-Browser an uns bzw. an unseren Webspace-Provider übermittelt, erfasst (sogenannte Serverlogfiles):

- Browsertyp und -version
- verwendetes Betriebssystem
- Webseite, von der aus Sie uns besuchen (Referrer URL)
- Webseite, die Sie besuchen
- Datum und Uhrzeit Ihres Zugriffs
- Ihre Internet Protokoll (IP)-Adresse.

Diese anonymen Daten werden getrennt von Ihren eventuell angegebenen personenbezogenen Daten gespeichert und lassen so keine Rückschlüsse auf eine bestimmte Person zu. Sie werden zu statistischen Zwecken ausgewertet, um unseren Internetauftritt und unsere Angebote optimieren zu können.
<h4>Kommentarmöglichkeit</h4>
Wir bieten Ihnen auf unserer Seite die Möglichkeit, Kommentare zu den einzelnen Beiträgen zu hinterlassen. Hierbei wird die IP- Adresse des Verfassers/Anschlussinhabers gespeichert. Diese Speicherung erfolgt zu unserer Sicherheit für den Fall, dass vom Verfasser durch seinen Kommentar hierbei in Rechte Dritter eingegriffen wird und/oder widerrechtliche Inhalte abgesetzt werden. Somit besteht ein Eigeninteresse unsererseits an den gespeicherten Daten des Verfassers, zumal wir unter Umständen wegen derartigen Rechtsverletzungen belangt werden können. Eine Weitergabe an Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht.
<h4>Abonnement von Kommentaren</h4>
Wir bieten Ihnen auf unserer Seite die Möglichkeit, nachfolgende Kommentare zu einem Beitrag, zu dem Sie im Begriff sind, einen Kommentar zu verfassen, zu abonnieren. Wenn Sie sich für diese Möglichkeit entscheiden, erhalten Sie eine Bestätigungs-E-Mail, mit der überprüft wird, ob Sie auch tatsächlich der Inhaber der angegebenen E-Mail-Adresse sind. Die Entscheidung zum Abonnement von derartigen Nachfolgekommentaren kann jederzeit wieder abbestellt werden. Einzelheiten hierzu können Sie der Bestätigungsmail entnehmen. Eine Weitergabe der so erlangten Daten an Dritte erfolgt nicht. Ein Abgleich der so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht.
<h4>Einsatz von Webanalysedienst PIWIK</h4>
Wir setzen auf unserer Website den Webanalysedienst PIWIK ein. PIWIK verwendet für diese Analyse Cookies. Cookies sind kleine Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen.
Die durch die Cookies erzeugten Informationen, beispielsweise Zeit, Ort und Häufigkeit Ihres Webseiten-Besuchs einschließlich Ihrer IP-Adresse, werden an unseren PIWIK-Server übertragen und dort gespeichert. Ihre IP-Adresse wird bei diesem Vorgang umge­hend anony­mi­siert, so dass Sie als Nutzer für uns anonym bleiben. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite werden nicht an Dritte weitergegeben. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen unserer Website vollumfänglich nutzen können.

Sollten Sie mit der Spei­che­rung und Aus­wer­tung die­ser Daten über Ihrem Besuch nicht ein­ver­stan­den sein, kön­nen Sie der Spei­che­rung und Nut­zung nachfolgend per Maus­klick jederzeit wider­spre­chen. Sodann wird in Ihrem Browser ein sog. Opt-Out-Cookie abgelegt, was zur Folge hat, dass Piwik kei­ner­lei Daten über Ihren Besuch mehr erhebt. Bitte beachten Sie hierbei, dass, sollten Sie die Cookies in Ihren Browsereinstellungen löschen, dies zur Folge haben kann, dass auch das Opt-Out-Cookie von PIWIK gelöscht wird und ggf. von Ihnen erneut aktiviert werden muss.

<iframe style="border: 0; height: 200px; width: 600px;" src="https://matomo.dietru.de/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=de&amp;backgroundColor=&amp;fontColor=&amp;fontSize=&amp;fontFamily="><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span></iframe>

<h4>Einsatz von YouTube-Komponenten mit erweitertem Datenschutzmodus</h4>
Auf unserer Webseite setzen wir Komponenten (Videos) des Unternehmens YouTube, LLC 901 Cherry Ave., 94066 San Bruno, CA, USA, einem Unternehmen der Google Inc., Amphitheatre Parkway, Mountain View, CA 94043, USA, ein.

Hierbei nutzen wir die von YouTube zur Verfügung gestellte Option " - erweiterter Datenschutzmodus - ".

Wenn Sie eine Seite aufrufen, die über ein eingebettetes Video verfügt, wird eine Verbindung zu den YouTube-Servern hergestellt und dabei der Inhalt durch Mitteilung an Ihren Browser auf der Internetseite dargestellt.

Laut den Angaben von YouTube werden im " - erweiterten Datenschutzmodus -" nur Daten an den YouTube-Server übermittelt, insbesondere welche unserer Internetseiten Sie besucht haben, wenn Sie das Video anschauen. Sind Sie gleichzeitig bei YouTube eingeloggt, werden diese Informationen Ihrem Mitgliedskonto bei YouTube zugeordnet. Dies können Sie verhindern, indem Sie sich vor dem Besuch unserer Website von Ihrem Mitgliedskonto abmelden.

Weitere Informationen zum Datenschutz von YouTube werden von Google unter dem folgenden Link bereitgestellt:

<a href="https://www.google.de/intl/de/policies/privacy/" target="_blank" rel="nofollow noopener">https://www.google.de/intl/de/policies/privacy/</a>

&nbsp;
<h4>Einsatz von PayPal als Zahlungsart</h4>
Sollten Sie sich im Rahmen Ihres Bestellvorgangs für eine Bezahlung mit dem Online-Zahlungsdienstleister PayPal entscheiden, werden im Rahmen der so ausgelösten Bestellung Ihre Kontaktdaten an PayPal übermittelt. PayPal ist ein Angebot der PayPal (Europe) S.à.r.l. &amp; Cie. S.C.A., 22-24 Boulevard Royal, L-2449 Luxembourg. PayPal übernimmt dabei die Funktion eines Online-Zahlungsdienstleisters sowie eines Treuhänders und bietet Käuferschutzdienste an.

Bei den an PayPal übermittelten personenbezogenen Daten handelt es sich zumeist um Vorname, Nachname, Adresse, Telefonnummer, IP-Adresse, E-Mail-Adresse, oder andere Daten, die zur Bestellabwicklung erforderlich sind, als auch Daten, die im Zusammenhang mit der Bestellung stehen, wie Anzahl der Artikel, Artikelnummer, Rechnungsbetrag und Steuern in Prozent, Rechnungsinformationen, usw.

Diese Übermittelung ist zur Abwicklung Ihrer Bestellung mit der von Ihnen ausgewählten Zahlungsart notwendig, insbesondere zur Bestätigung Ihrer Identität, zur Administration Ihrer Zahlung und der Kundenbeziehung.

Bitte beachten Sie jedoch: Personenbezogenen Daten können seitens PayPal auch an Leistungserbringer, an Subunternehmer oder andere verbundene Unternehmen weitergegeben werden, soweit dies zur Erfüllung der vertraglichen Verpflichtungen aus Ihrer Bestellung erforderlich ist oder die personenbezogenen Daten im Auftrag verarbeitet werden sollen.

Abhängig von der über PayPal ausgewählten Zahlungsart, z.B. Rechnung oder Lastschrift, werden die an PayPal übermittelten personenbezogenen Daten von PayPal an Wirtschaftsauskunfteien übermittelt. Diese Übermittlung dient der Identitäts- und Bonitätsprüfung in Bezug auf die von Ihnen getätigte Bestellung. Um welche Auskunfteien es sich hierbei handelt und welche Daten von PayPal allgemein erhoben, verarbeitet, gespeichert und weitergegeben werden, entnehmen Sie der Datenschutzerklärung von PayPal unter <a href="https://www.paypal.com/de/webapps/mpp/ua/privacy-full" target="_blank" rel="nofollow noopener">https://www.paypal.com/de/webapps/mpp/ua/privacy-full</a>
<h4>Einsatz von Amazon-Partnerprogramm</h4>
Dennis Hinzpeter ist Teilnehmer des Partnerprogramms von Amazon EU, das zur Bereitstellung eines Mediums für Websites konzipiert wurde, mittels dessen durch die Platzierung von Werbeanzeigen und Links zu [bitte fügen Sie hier den zutreffenden Namen der Website ein (Amazon.co.uk / Javari.co.uk / Local.Amazon.co.uk / Amazon.de / Javari.de / de.BuyVIP.com / Amazon.fr / Javari.fr / Amazon.it / it.BuyVIP.com / Amazon.es / es.BuyVIP.com )] Werbekostenerstattung verdient werden kann. Zur Nachverfolgung der Bestellung setzt Amazon Cookies ein, die es ermöglichen, zu erkennen, dass Sie auf unserer Seite einen Partnerlink angeklickt haben. Weitere Informationen zur Datennutzung durch Amazon erhalten Sie in der Datenschutzerklärung des Unternehmens: <a href="http://www.amazon.de/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=3312401" target="_blank" rel="nofollow noopener">http://www.amazon.de/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=3312401</a>
<h3>Auskunft/Widerruf/Löschung</h3>
Sie können sich aufgrund des Bundesdatenschutzgesetzes bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten und deren Berichtigung, Sperrung, Löschung oder einem Widerruf einer erteilten Einwilligung unentgeltlich an uns wenden. Wir weisen darauf hin, dass Ihnen ein Recht auf Berichtigung falscher Daten oder Löschung personenbezogener Daten zusteht, sollte diesem Anspruch keine gesetzliche Aufbewahrungspflicht entgegenstehen.

<a href="https://www.ratgeberrecht.eu/leistungen/muster-datenschutzerklaerung.html" target="_blank" rel="noopener">Muster-Datenschutzerklärung</a> der <a href="https://www.ratgeberrecht.eu/" target="_blank" rel="noopener">Anwaltskanzlei Weiß &amp; Partner</a>
